# Angular (Frontend)
/frontend/node_modules
/frontend/.angular
/frontend/dist
/frontend/tmp
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/.pnpm-debug.log
/frontend/testem.log
/frontend/typings
/frontend/.idea
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace
/frontend/.vscode/*
!/frontend/.vscode/settings.json
!/frontend/.vscode/tasks.json
!/frontend/.vscode/launch.json
!/frontend/.vscode/extensions.json
/frontend/.history/*
/frontend/.DS_Store
/frontend/Thumbs.db

# Spring Boot (Backend)
/backend/target/
/backend/!.mvn/wrapper/maven-wrapper.jar
/backend/!**/src/main/**/target/
/backend/!**/src/test/**/target/
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache
/backend/bin/
/backend/!**/src/main/**/bin/
/backend/!**/src/test/**/bin/
/backend/.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr
/backend/out/
/backend/!**/src/main/**/out/
/backend/!**/src/test/**/out/
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
/backend/build/
/backend/!**/src/main/**/build/
/backend/!**/src/test/**/build/
/backend/.vscode/
/backend/.DS_Store
/backend/Thumbs.db

# Flutter (Mobile)
/mobile/wexl_flutter_games/.dart_tool/
/mobile/wexl_flutter_games/.flutter-plugins
/mobile/wexl_flutter_games/.flutter-plugins-dependencies
/mobile/wexl_flutter_games/.packages
/mobile/wexl_flutter_games/.pub-cache/
/mobile/wexl_flutter_games/.pub/
/mobile/wexl_flutter_games/build/
/mobile/wexl_flutter_games/coverage/
/mobile/wexl_flutter_games/.idea/
/mobile/wexl_flutter_games/.vscode/
/mobile/wexl_flutter_games/*.iml
/mobile/wexl_flutter_games/*.ipr
/mobile/wexl_flutter_games/*.iws
/mobile/wexl_flutter_games/.DS_Store
/mobile/wexl_flutter_games/Thumbs.db
/mobile/wexl_flutter_games/.history
/mobile/wexl_flutter_games/*.log
/mobile/wexl_flutter_games/.dart_tool/
/mobile/wexl_flutter_games/.flutter-plugins
/mobile/wexl_flutter_games/.flutter-plugins-dependencies
/mobile/wexl_flutter_games/ios/Pods/
/mobile/wexl_flutter_games/ios/.symlinks/
/mobile/wexl_flutter_games/ios/Flutter/App.framework
/mobile/wexl_flutter_games/ios/Flutter/Flutter.framework
/mobile/wexl_flutter_games/ios/Flutter/Generated.xcconfig
/mobile/wexl_flutter_games/ios/Flutter/app.flx
/mobile/wexl_flutter_games/ios/Flutter/app.zip
/mobile/wexl_flutter_games/ios/Flutter/flutter_assets/
/mobile/wexl_flutter_games/ios/Flutter/flutter_export_environment.sh
/mobile/wexl_flutter_games/android/.gradle
/mobile/wexl_flutter_games/android/captures/
/mobile/wexl_flutter_games/android/local.properties
/mobile/wexl_flutter_games/android/app/google-services.json

# General
.DS_Store
Thumbs.db
*.log
*.swp
*.bak